<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item__brand-wrapper">
        <a class="navbar-item__brand" href="http://decidim.org">
          <img class="navbar-item__logo" src="{{{uiRootPath}}}/img/decidim/decidim-logo-topbar.svg" alt="Decidim">
        </a>
        <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      </div>
      {{#if env.DOCSEARCH_ENABLED}}
        <div class="navbar-item">
          <input id="search-input" type="text" placeholder="Search docs">
        </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="https://decidim.org">decidim.org</a>
        <a class="navbar-item" href="https://docs.decidim.org">Docs Home</a>
      </div>
    </div>
  </nav>
</header>
