site:
  title: Decidim Docs
  url: https://docs.decidim.org
  start_page: master@en:ROOT:index.adoc
content:
  edit_url: 'https://github.com/decidim/documentation/edit/{refname}/{path}'
  sources:
  - url: &landing .
    branches:
      - HEAD
    start_path: /en
  - url: https://github.com/decidim/decidim
    start_path: docs
    branches:
      - doc/antora-docs
ui:
  bundle:
    url: https://github.com/decidim/documentation-antora-ui/releases/download/v0.3/ui-bundle.zip
    snapshot: true
  supplemental_files: ./supplemental_ui
asciidoc:
  attributes:
    page-pagination: ''
