[build]
  publish = "build/site/"
  command = "node_modules/.bin/antora --generator antora-site-generator-lunr --stacktrace --fetch --html-url-extension-style=indexify antora-playbook.yml"

[build.environment]
  NODE_VERSION = "14"
  BUILD_ONLY = "true"
  ANTORA_CACHE_DIR = "node_modules/.cache/antora"
  DOCSEARCH_ENABLED = "true"
  DOCSEARCH_ENGINE = "lunr"

[context.deploy-preview]
  command = "node_modules/.bin/antora --generator antora-site-generator-lunr --stacktrace --fetch --html-url-extension-style=indexify --url $DEPLOY_PRIME_URL antora-playbook.yml"

[[redirects]]
  from = "/social-contract/en/*"
  to = "/en/understanding/social-contract/"

[[redirects]]
  from = "/features/en/*"
  to = "/en/features/:splat"

[[redirects]]
  from = "/features/es/*"
  to = "/en/features/:splat"

[[redirects]]
  from = "/features/ca/*"
  to = "/en/features/:splat"

[[redirects]]
  from = "/whitepaper/en/*"
  to = "/en/whitepaper/"

[[redirects]]
  from = "/deploy-and-admin/en/get-decidim/"
  to = "/en/installing/"

[[redirects]]
  from = "/admin-manual/en/*"
  to = "/en/running/:splat"

[[redirects]]
  from = "/develop/en/"
  to = "/en/developing/guide/"

[[redirects]]
  from = "/develop/en/advanced/*"
  to = "/en/developing/:splat"
